<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314496593433-35o4kmt581hsji9q08rlb5jef7dml7to.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314496593433-35o4kmt581hsji9q08rlb5jef7dml7to</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314496593433-grm8trnfcntjjtmd85g3i69v6n59uv3f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBujhA84cTyg-IwjWhb5x1Yuq1fKMh9SU</string>
	<key>GCM_SENDER_ID</key>
	<string>314496593433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supertoken.appscrip</string>
	<key>PROJECT_ID</key>
	<string>super-token-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>super-token-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:314496593433:ios:8e97e5498536f1100d8488</string>
</dict>
</plist>
