<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314496593433-39mc35vh5lp60cpme99gqh00grjp16fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314496593433-39mc35vh5lp60cpme99gqh00grjp16fs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314496593433-prso3m7a967a2hiul1dqqocbh88a1rso.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBujhA84cTyg-IwjWhb5x1Yuq1fKMh9SU</string>
	<key>GCM_SENDER_ID</key>
	<string>314496593433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appscrip.superTokenDemo</string>
	<key>PROJECT_ID</key>
	<string>super-token-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>super-token-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314496593433:ios:bd15ac9619cd9c4c0d8488</string>
</dict>
</plist>